
<div class="splash shadow container-fluid__break">
  <h1>Image Sharer</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <%= link_to 'Get Started', new_image_path, class: 'splash__link shadow-lg' %>
</div>
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="d-flex flex-wrap justify-content-around pt-2">
  <% @images.each do |image| %>
    <div class="align-self-center m-4 shadow card">
      <img class="display-image" src="<%= image.url %>" alt="Image">
      <%= link_to new_image_share_path(image),
                  class: 'card-link text-light card-img-overlay card-img-overlay--shared d-flex align-items-center justify-content-center' do %>
        <span>Share</span>
      <% end %>
      <% if image.tag_list.any? %>
        <div class="card-body">
          <%= render partial: "_partials/tag_list", locals: { tag_list: image.tag_list } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
