<h1 class="mt-3">Edit Image</h1>
<p>You are now editing the tags on this image</p>
<div>
  <img class="display-image" src="<%= @image.url %>" alt="Image">
</div>
<br/>
<%= form_for @image do |f| %>
  <%= render partial: 'tag_edit', locals: { form: f, tag_list: @image.tag_list } %>
  <%= render partial: '_partials/validation_list', locals: { errors: @image.errors } %>
  <%= f.submit 'Save', {class: 'btn btn-primary'} %>
<% end %>
